nav.navbar{
    background-color: #5EABD5;
}

div#sectionhome{
    position:relative;
    top: 10px;
}

button.navbar-toggler{
    background-color: #5EABD5;
    border: none;
    color: #ffffff;
}

a.nav-link{
    color:#ffffff;
    opacity: 0.5;
    margin-right: 30px;
    font-size: 20px;
}

a.nav-link:hover{
    color:#ffffff;
    opacity: 1;
}

ul li.active a{
    color:#ffffff;
    opacity: 1;
}

.img-fulid{
    max-width: 100%;
    height: auto;
}

hr.blue-line{
    border: solid #5EABD5;
    width: 80px;
    margin-left: inherit;
    margin-top:0px;
    border-radius: 5px;
}

button.btn-bluebutton{
    color:#ffffff;
    background-color: #5EABD5;
    border-radius: 50px;
    width: 120px;
}

button.btn-bluebutton:hover{
    border: 2px solid #5EABD5;
    color: #5EABD5;
    background-color: #ffffff;
}

div.div-resume{
    text-align: center;
    margin-top: 10%;
}

button.btn-blog{
    color:#ffffff;
    background-color: #5EABD5;
    border-radius: 8px;
    width: 120px;
}

button.btn-blog:hover{
    border: 2px solid #5EABD5;
    color: #5EABD5;
    background-color: #ffffff;
}

div.div-blog{
    text-align: end;
    margin-top: 5%;
}

div.card-blog{
    margin-bottom: 50px;
}

footer.jumbotron{
    background-color: #5EABD5;
    border-radius: 0px;
    text-align: end;
}

div.contacticon a i{
    color: #ffffff;
    font-size: 8vw;
    padding-right: 20px;
}

div.copyright{
    color: #5EABD5;
    text-align: center;
    padding: auto;
}

div.section{
    padding-top: 80px;
}

div.sectionblog{
    padding-bottom: 80px;
}

div.htmlbar{
    width: 90%;
    background-color: #5EABD5;
}

div.cssbar{
    width: 90%;
    background-color: #5EABD5;
}

div.jsbar{
    width: 50%;
    background-color: #5EABD5;
}

div.phpbar{
    width: 40%;
    background-color: #5EABD5;
}

div.sqlbar{
    width: 80%;
    background-color: #5EABD5;
}

div.thaibar{
    width: 90%;
    background-color: #5EABD5;
}

div.engbar{
    width: 30%;
    background-color: #5EABD5;
}

div.parallax{
    background-image: url(/assets/img/parallax/Parallax-img.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}

div.parallaxfont h1{
    color: #ffffff;
    text-align: center;
    padding-top: 220px;
}

.fontblue{
    color: #5EABD5;
}

i.modal-font{
    font-size: 18px;
}

i.modal-check{
    font-size: 18px;
    color: #6EBE2E;
}

.fontgray{  
    color:#999999;
}